*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
:root{
   --black-color:#000;
   --white-color:#fff;
   --primary-color:#0d1e34;
   --secondary-color:#9290C3;
   --yellow-color:#ffae36;
   --red-color:#fe6a49;
    --fs-10:10px;
    --fs-12:12px;
    --fs-13:13px;
    --fs-14:14px;
    --fs-20:20px;
    --fs-28:28px;
    --fw-100:100;
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
    


    
}

body{
    font-family: 'Montserrat';
    color: var(--black-color);
    font-size: var(--fs-12);
    background-color: #f5f5f5;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-center{
  justify-content:center;

}

.justify-end{
  justify-content:flex-end;

}

.justify-start{
  justify-content: flex-start;

}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.w-1{
    width: 8.33%;
}
.w-2{
    width: 16.66%;
}
.w-3{
    width: 25%;
}
.w-4{
    width: 33.33%;
}
.w-5{
    width: 41.66%;
}
.w-6{
    width: 50%;
}
.w-7{
    width: 58.33%;
}
.w-8{
    width: 66.66%;
}
.w-9{
    width: 75%;
}
.w-10{
    width: 83.33%;
}
.w-11{
    width: 91.66%;
}
.w-12{
    width: 100%;
}
.w-1 , .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12{
    padding-left: 12px;
    padding-right: 12px;
}

/* nav start */

nav{
    border-bottom: 1px solid rgb(182, 182, 182);
    
}

.nav-info span h3{
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
    color: var(--black-color);
}

.nav-info span img{
    width: 26px;
}
.nav-info p{
    font-size: var(--fs-14);
    margin: 5px;
}

.icon_wrap p{
    margin-bottom: 0;
    font-size: var(--fs-12);
    font-weight: var(--fw-400);
   
}
.icon_wrap span{
    color: var(--black-color);
    font-weight: var(--fw-600);
}
.icon_wrap span i{
    margin-left: 8px;
}

/* nav end */



nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.092);

}

.nav-info span h3 {
  font-size: var(--fs-20);
  font-weight: 600;
}

.nav-info p {
  font-size: var(--fs-14);

}

.nav-info span img {
  width: 26px;
  margin-left: 5px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

}

.navbar .navbar_left .logo a {
  font-size: 20px;
}

.navbar .navbar_right {
  display: flex;
}

.navbar .navbar_right img {
  width: 41px;

}

.navbar .navbar_right .icon_wrap {
  cursor: pointer;
}

.icon_wrap span {
  font-size: var(--fs-14);
  font-weight: 600;
}

.icon_wrap p {
  margin-bottom: 0;
  font-size: var(--fs-12);
}

.icon_wrap i {
  margin-left: 5px;
}

.darkmode i {
  font-size: 25px;
  color: gray;
}

.navbar .navbar_right .notifications {
  margin-right: 10px;
  background-color: #ffffff6e;
  padding: 0 14px;
  border-radius: 50%;
  color: rgba(128, 128, 128, 0.903);
}

.navbar .navbar_right .notifications .icon_wrap {
  font-size: 25px;


}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
  position: relative;
}

.profile_dd .profile_ul,
.profile_dd .profile_ul i {
  font-size: var(--fs-14);
}

.navbar .profile .profile_dd,
.notification_dd {
  position: absolute;
  top: 51px;
  right: -15px;
  user-select: none;
  background: #fff;
  width: 350px;
  height: auto;
  display: none;
  z-index: 99999999;

}

.navbar .profile .profile_dd:before,
.notification_dd:before {
  content: "";
  position: absolute;
  top: -60px;
  right: 15px;

}

.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.notification_dd li .notify_icon {
  display: flex;
}

.notification_dd li .notify_icon .icon {
  display: inline-block;
  background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
  width: 40px;
  height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon {
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon {
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon {
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon {
  background-position: 0 -178px;
}

.notification_dd li .notify_data {
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title {
  color: #000;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.notification_dd li .notify_status p {
  font-size: 12px;
}

.notification_dd li.success .notify_status p {
  color: #47da89;
}

.notification_dd li.failed .notify_status p {
  color: #fb0001;
}

.notification_dd li.show_all {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p {
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover {
  text-decoration: underline;
}

.navbar .navbar_right .profile .icon_wrap {
  display: flex;
  align-items: center;
}

.navbar .navbar_right .profile .name {
  display: inline-block;
  margin: 0 10px;
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
  color: #3b80f9;
}

.navbar .profile .profile_dd {
  width: 225px;
}

.navbar .profile .profile_dd:before {
  right: 10px;
}

.navbar .profile .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative;
  color: var(--black-color);
}

.navbar .profile .profile_dd ul li a .picon {
  display: inline-block;
  width: 30px;


}

.navbar .profile .profile_dd ul li a:hover {
  color: var(--primary-color);
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
  background: transparent;
  cursor: default;
  color: #7f8db0;
}


.navbar .profile .profile_dd .btn {
  height: 32px;
  padding: 10px 7px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  background: var(--primary-color);
  width: 125px;
  margin: 5px auto 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar .profile .profile_dd ul li .btn:hover {
  background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
  opacity: 0.5;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width:80%;
  border: 1px solid rgba(128, 128, 128, 0.571);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: gray;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgba(128, 128, 128, 0.512);
  background: rgba(128, 128, 128, 0.437);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.bookmark i{
  font-size: 24px;
  color : gray;
  margin:0 20px;
  position: relative;
}
.bookmark  .drop-down{
  position: absolute;
  content: '';
  box-sizing: border-box;
  top:60px;
  right:150px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 999999;
  background-color: var(--white-color);
  width:300px;
  border-radius:10px;
}
.bookmark:hover .drop-down{
  opacity: 1;
  visibility: visible;
  top: 78px;
  padding: 20px 0;
}
.bookmark  .drop-down a h2{
  color: var(--black-color);
  text-align: center;
  font-size:var(--fs-20) ;
  font-weight:var(--fw-700);
  padding-bottom:30px;

}
.bookmark  .drop-down ul li a{
    font-size:var(--fs-14);
    color:black;
    padding:30px 0;
    font-weight: var(--fw-700);
    
    
}
.justify-evenly{
  justify-content: space-evenly;
}
.bookmark  .drop-down a p{
  color:var(--secondary-color);
  font-size:15px;
  font-weight: var(--fw-700);
  text-align: center;
  padding-top:30px;


}

.wrapper{
  background-color: var(--white-color);
 padding-top:   8px;
}

.profile {
  border-left: 1px solid rgb(221, 219, 219);
  padding-left:15px;
}

/* header start */
.sub-header h2{
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
  
  
}
.sub-header{
  margin-top: 15px;
}
.sub-header p{
  font-size: var(--fs-13);
  font-weight:var(--fw-400);
}
.sub-header a{
  color: var(--primary-color);
  font-weight:var(--fw-400);
}
/* header end */

/* Revenue Growth start */

.rev{
  margin-top: 15px;
}
.boost-sale{
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.boost-sale::after{
  position: absolute;
  content: '';
  box-sizing: border-box;
  background-image: url(../img/boostup1.png);
  width: 110%;
  height: 130%;
  background-size: contain;
  background-repeat: no-repeat;
  right: -54%;
  top: -60%;

}

.boost-sale::before{
  position: absolute;
  content: '';
  box-sizing: border-box;
  background-image: url(../img/boostup2.png);
  width: 115%;
  height: 130%;
  background-size: contain;
  background-repeat: no-repeat;
  right: -48%;
  bottom: -55%;

}
.boost-sale h2{
  font-size: var(--fs-28);
  font-weight: var(--fw-600);
}
.boost-sale p{
  font-size: var(--fs-14);
  margin: 10px 0;
  line-height: 1.8;
}
.boost-sale a{
  display: inline-block;
  padding: 6px 28px;
  border: 1px solid var(--white-color);
  border-radius: 10px;
  color: var(--white-color);
  transition: 0.5s;
  margin-top: 10px;
}
.boost-sale a:hover{
  background-color: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}

.deliveries{
  background-color: var(--white-color);
  padding: 20px 20px;
  border-radius: 10px;
}


.deliveries h2{
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
}
.deliveries i{
  font-size: 20px;
}


.part{
  font-size: var(--fs-12);
  padding: 18px 1px;
  color: gray;
  font-weight: var(--fw-500);
  border-bottom: 1px solid #e6e9eb ;

}
.deliveries a{
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  transition: 0.5s;
}
.deliveries a:hover{
  color: var(--primary-color);
}

.deliveries .n p{
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 4.3;
}
.deliveries .l{
  border-bottom: 1px dashed #e6e9eb;

}

.reven{
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
}

.reven h2{
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
}

.reven p{
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--black-color);
}

.reven p i{
  font-size: var(--fs-10);
  
}
.g-map ul li{
  padding: 20px 0;
}
.g-map ul li h2{
  margin: 10px 0;
}

.sale{
  border-left: 2px solid #e6e9eb;
  margin-top: 20px;
  padding-left: 25px;

}

.sale ul li span{
  color:  #86909C;
  font-size: var(--fs-12);
}
.sale ul li span a{
  color: var(--red-color);
}

.sale ul li h2{
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
}
.sale .s-sal{
  border-top: 1px dashed #e6e9eb;
}

.sale .o-sal{
  border-bottom: 1px dashed #e6e9eb;
}
/* Revenue Growth end */



/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.g-map{

  height: 100%;
}       



/* product start */
.product {
  background-color: rgba(255, 255, 255, 0.841);
  padding: 10px 12px ;
  border-radius: 20px;
}

.product-info {
  margin-top: 10px;
}

.product-main .ps {
  margin: 8px 0;
  border-bottom: 1px solid #e6e9eb;
  padding: 12px 0;
}

.product-main .ps:last-child {
  border-bottom: 0;
}

.product-main .p-content {
  margin-left: 10px;
}

.product-info h2,
.user-info h2,
.team-info h2 {
  font-size: 22px;
  font-weight: var(--fw-600);
}

.product-info a,
.user-info a,
.team-info a {
  font-size: 16px;
  font-weight: var(--fw-500);
  color: var(--secondary-color);

}

.p-image img{
  border-radius: 10px;
}

.product-main .p-content span {
  padding:8px 10px;
  font-weight: var(--fw-400);
  background-color: #bec0c28c;
  border-radius: 20px;
  font-size: var(--fs-10);
}

.p-second span a{
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
}

.product-main .p-content p {
  font-size: var(--fs-14);
  margin: 8px 0;

}

.product-main .p-content h4 {
  font-size: 15px;
  color: var(--secondary-color);
}

.product-main .p-second span {
  font-size: var(--fs-14);
  color: gray;
  font-weight: var(--fw-400);
}

.product-main .p-second p {
  font-size: var(--fs-14);
  color: rgb(128, 128, 128);
  margin: 8px 0;
}

.product-main .p-second h4 {
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  color: gray;
}

.user {
  background-color: white;
  padding: 20px 15px;
  border-radius: 20px;
}

.user-info {
  margin: 5px 0;
}

.user-main .us {
  margin: 12px 0;
  border: 1px solid rgba(128, 128, 128, 0.193);
  padding: 12px 0;
  border-radius: 15px;

}

.user-main .user-img img {
  border-radius: 50%;
}

.user-main .user-content {
  margin-left: 15px;
}

.user-main .user-content a {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  margin-bottom: 4px;
}

.user-main .user-content p {
  font-size: var(--fs-14);
  color: gray;
}

.user-main .user-second i {
  font-size: 18px;
}

.team {
  background-color: white;
  padding: 20px 12px;
  border-radius: 20px;
  padding-bottom: 5px;
}

.team-info {
  margin: 5px 0;
}

.team-main .ts {
  margin: 16px 0;
}

.team-main .team-img a {
  color: rgb(0, 0, 0);
  margin-left: 5px;
  font-size: 15px;
  font-weight: var(--fw-600);
  transition: 0.5s;
}

.team-main .team-img:hover a {
  color: var(--secondary-color);
}

.team-main .team-img img {
  border-radius: 50%;
  border: 1px dashed rgba(128, 128, 128, 0.871);
  padding: 5px;
  position: relative;
}
.team-main .team-content p {
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  color: gray;
  margin-left:15px;

}

.team-main .team-second p {
  font-size: var(--fs-14);
  color: gray;
  font-weight: var(--fw-600);
  padding: 10px 30px;
}

.view{
  margin-top: 25px;
}
/* product end */

canvas#horizontalBarChartCanvas {
  max-width: 768px;
  margin: 40px auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.248);
  padding-bottom: 20px;

}



.visit{
  margin: 20px 0;
  padding: 38px 25px;
  background-color: white;
  border-radius: 20px;
}
.visit .visit-info h2{
  font-size:var(--fs-20);
  font-weight: var(--fw-600);
}
.visit .visit-info i{
  color:var(--secondary-color);
  margin:0px 3px;
}
.visit .visit-info p{
  font-size:var(--fs-12);
  font-weight: var(--fw-600);
  color: gray;
}
.visit .visit-foot{
  padding:0;
}
.visit .visit-foot a{
  font-size:16px;
  color:var(--black-color);
  font-weight: var(--fw-700);
  transition: 0.5s;

}
.visit .visit-foot:hover a{
  color:var(--secondary-color);
}
.visit .visit-foot p{
  font-size: var(--fs-14);
  color:rgba(128, 128, 128, 0.759);
  font-weight: var(--fw-500);
  margin-top: 5px;
}
.visit .visit-foot .visit-browser i{
  font-size: var(--fs-20);
  color: rgba(128, 128, 128, 0.725);
  border: 1px solid rgba(128, 128, 128, 0.49);
  border-radius: 10px;
  padding: 10px 15px;
}
.transaction{
  margin: 20px 0;
  padding:20px 25px;
  background-color: white;
  border-radius: 20px;
}
.transaction .tran-info{
  padding: 5px 0;
}
.transaction .tran-info h2{
  font-size:var(--fs-20);
   font-weight: var(--fw-600);
  
}
.transaction .tran-info a{
  color:var(--secondary-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
}
.tran-main .name ul li {
  padding:17px 1px;
  
}

.tran-main .name ul li  a{
    color:var(--black-color);
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    transition: 0.5s;
}
.tran-main .name ul li:hover a{
  color:var(--secondary-color);
}


.tran-main .date ul li{
  padding:17px 1px;
}  
.tran-main .date ul li p {
  color:var(--black-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
}

.tran-main .amount ul li{
  padding:17px 1px;
}  
.tran-main .amount ul li p {
  color:var(--black-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
}
.tran-main  h4{
  padding:15px 0;
  font-size:18px;
  background-color: rgb(216, 215, 215);
  text-align: center;
  font-weight: var(--fw-500);
  border-radius: 20px;
  margin: 10px 0;
 
}

.tran-main .status ul li{
  padding:17px 1px;
}  
.tran-main .status ul li p {
  color:var(--black-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
}

/* bargroup section end  */





#chartdiv {
  width: 100%;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 0;
  padding: 0 10px;

}


footer{
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size:15px;
  margin: 0;
}
